.language-selector-container .language-selector {
	color: var(--black);
	cursor: pointer;
	display: inline-block;
	padding-right: 0;
}

.language-selector-container .language-selector .lexicon-icon-caret-bottom-l {
    height: 1.5rem;
    padding-bottom: 0.1rem;
    width: 1.5rem;
}

.language-selector-container .language-selector	.language-selector-globe-icon,
.language-selector-container .language-selector	.language-caret-icon {
	opacity: 0.5;
}

.language-selector-container .language-selector	.language-selector-text {
	opacity: 0.8;
}

.language-selector-container .language-selector {
	color: var(--black);
	cursor: pointer;
	display: inline-block;
	font-weight: bolder;
	padding-right: 0;
}

.language-selector-container .dropdown-menu-content.dropdown-menu {
	max-height: fit-content;
	min-width: 288px;
}


.language-selector-container .language-selector
	svg {
	margin-right: 0.25rem;
}

.language-selector-container .language-selector.list-open .language-caret-icon {
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg)
		rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.language-selector-container .language-selector.list-open .language-selector-globe-icon,
.language-selector-container .language-selector.list-open .language-caret-icon {
	opacity: 0.7;
}

.language-selector-container .language-selector:hover {
		background-color: #edf3fe !important;
		color: #0053f0 !important;
}

.language-selector-container .language-selector:hover .language-selector-globe-icon,
.language-selector-container .language-selector:hover .language-caret-icon {
	opacity: 1;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list ul {
	padding-inline-start: 0;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item {
	align-items: center;
	border-radius: var(--border-radius-xs);
	display: flex;
	font-weight: var(--font-weight-semi-bold);
	text-align: left;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item:active,
.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item:focus,
.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item:hover {
	background-color: #edf3fe !important;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item .language-entry-long-text {
	color: var(--black);
	padding: 0.75rem 0.75rem 0.75rem 2.75rem;
	width: 100%;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item .selected-icon {
	padding-left: 1.5rem !important;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item .language-entry-long-text:active,
.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item .language-entry-long-text:focus,
.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item .language-entry-long-text:hover {
	color: var(--black);
	text-decoration: none;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item.selected {
	padding-left: 0.25rem;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .language-nav-item.selected .language-entry-long-text {
	padding-left: 0;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .selected.language-nav-item:before {
	margin: 0 1rem;
}

.language-selector-container .language-dropdown-list-container .language-dropdown-list .selected.language-nav-item .language-entry-long-text {
	padding-left: 1rem;
}