@import 'atlas-variables';

.criteria-sidebar-root {
	background-color: $white;
	border-left: 1px solid $gray-300;
	min-height: 100%;
	right: 0;
	width: $sidebarWidth;

	.sidebar-header,
	.panel-header,
	.empty-message {
		font-weight: 600;
	}

	.sidebar-header,
	.sidebar-search,
	.empty-message {
		padding: 1rem 1.5rem;
	}

	.sidebar-collapse {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		overflow-x: hidden;
	}

	.criteria-sidebar-item-root {
		background-color: $white;
		border-left: 3px solid transparent;
		font-size: 0.875rem;
		transition: $segmentsTransition;
		transition-property: border-color, opacity;
		will-change: border-color, opacity;

		.lexicon-icon-drag {
			color: $secondary-l1;
			opacity: 0;
			transition: opacity $segmentsTransition;
			will-change: opacity;
		}

		&:hover .lexicon-icon-drag {
			opacity: 1;
		}

		&.dragging {
			opacity: 0.4;
		}

		&:active {
			cursor: grabbing;
		}

		&:hover {
			border-color: $blue;
			cursor: grab;

			@include generatePropertyGroupLoop(
				$propertyGroupsColors,
				'border-left-color',
				'color--'
			);
		}
	}
}
